.img-box{
  text-align:center;
}
.detail{
padding: 20px;
}
.profile-detail-figure {
  border-radius: 100%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    text-align: center;
}
.profile-detail-figure img{max-width: 100%;}
