

<app-header></app-header>
<div class="container-fluid admin ">
  <div class="row">
    <app-sidebar></app-sidebar>
    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 p20 sidebar_element">
      <h1>New Teachers</h1>
      <!-- <h2>Section title</h2> -->
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Title</th>
              <th>Email</th>
              <th>Subjects</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody *ngIf="!noDataFlag">
            <tr *ngFor="let teacher of allTeachers; let i= index" >
              <td *ngIf="teacher.profileImage"><img class="rounded" height="50px"  src="{{teacherDp}}{{teacher.profileImage}}"/></td>
              <td *ngIf="!teacher.profileImage"><img height="50px" src="./assets/images/m_noimage.jpeg"/></td>
              <td>{{teacher.name}}</td>
              <td>{{teacher.title}}</td>
              <td>{{teacher.email}}</td>
              <td><span *ngFor="let sub of teacher.subjects" class="badge badge-pill badge-success">{{sub.sub_text}}</span></td>
              <td *ngIf="teacher.isEnabled"><h3><span class="badge badge-success">Active </span></h3></td>
              <td *ngIf="!teacher.isEnabled"><h3><span class="badge badge-danger">In-Active</span></h3></td>
              <td><i [routerLink]="['/teacher',teacher.name,teacher.email]" class="fa fa-eye"></i></td>
            </tr>
          </tbody>
          <tbody *ngIf="noDataFlag">
            <p>No New Teachers</p>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>				<!-- Optional JavaScript -->
