

<app-header></app-header>
<div class="container-fluid admin ">
  <div class="row">

    <app-sidebar></app-sidebar>
    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 p20 sidebar_element">
      <h1>Students</h1>
      <!-- <h2>Section title</h2> -->
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Class</th>
              <th>Email</th>
              <th>Created At</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr (click)="singlestudent(student.firstname,student.email)" *ngFor="let student of allStudents; let i= index">
              <td *ngIf="student.profileImage"><img class="rounded" height="50px"  src="{{studentDp}}{{student.profileImage}}"/></td>
              <td *ngIf="!student.profileImage"><img height="50px" src="./assets/images/m_noimage.jpeg"/></td>
              <td>{{student.firstname}}</td>
              <td>{{student.class}}</td>
              <td>{{student.email}}</td>
              <td>{{student.createdAt | date:medium}}</td>
              <!-- <td><span *ngFor="let sub of teacher.subjects" class="badge badge-pill badge-success">{{sub.sub_text}}</span></td> -->
              <td *ngIf="student.isEnabled"><h3><span class="badge badge-success">Active</span></h3></td>
              <td *ngIf="!student.isEnabled"><h3><span class="badge badge-danger">In-Active</span></h3></td>
              <td><i [routerLink]="['/student',student._id]" class="fa fa-eye"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>				<!-- Optional JavaScript -->
