
<app-header></app-header>
<div class="container-fluid admin ">
  <p-growl [(value)]="msgs"></p-growl>
  <div class="row">
    <app-sidebar></app-sidebar>
    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 p20 sidebar_element">
      <h1>Teachers</h1>

      <section>
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/teachers">Teacher</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{name}}</li>
            </ol>
          </nav>
          <div class="bg-light-grey profile-detail p20">
            <div class="row align-items-center">
              <div class="col-md-2">
                <figure *ngIf="teacherData?.profileImage" class="profile-detail-figure" ><img src="{{dpUrl}}{{teacherData.profileImage}}" alt="profile"></figure>
                <figure class="profile-detail-figure"  *ngIf="!teacherData?.profileImage" ><img src="./assets/images/m_noimage.jpeg" alt="profile"></figure>
              </div>
              <div class="col-md-10">
                <div class="profile-detail-content">
                  <h3>Name : {{teacherData?.name}}

                    <button *ngIf="!teacherData?.isEnabled && teacherData?.profile.status == ''" (click)="enableDisableTeacher(teacherData?._id,true)" class="btn btn-success">Activate & Approve</button>
                    <button *ngIf="!teacherData?.isEnabled && teacherData?.profile.status == 'approved'" (click)="enableDisableTeacher(teacherData?._id,true)" class="btn btn-success">Activate</button>

                    <button *ngIf="teacherData?.isEnabled && teacherData?.profile.status == 'approved'" (click)="enableDisableTeacher(teacherData?._id,false)" class="btn btn-danger">De-Activate</button>
                    <!-- <button *ngIf="teacherData?.isEnabled " (click)="enableDisableTeacher(teacherData?._id,false)" class="btn btn-danger">De-Activate</button> -->
                  </h3>
                  <h3>Status:   <span *ngIf="teacherData?.isEnabled" class="badge badge-pill badge-success">Active</span>
                    <span *ngIf="!teacherData?.isEnabled"  class="badge badge-pill badge-danger">In-Active</span></h3>
                    <h3>Title : {{teacherData?.title}}</h3>
                    <p class="list-content">
                      <span> <img src="./assets/images/speaking.png" alt="language">
                        <span *ngFor="let language of teacherData?.languages;let i = index">
                          {{language.lang_text}}  <span *ngIf="i < teacherData?.languages.length-1"><b> ,</b> </span></span></span>
                          <div class="list-detail">
                            <span><a *ngFor="let sub of teacherData?.subjects">{{sub.sub_text}}</a>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr/>

                    <div class="top-heading text-center">
                      <h2>Degree</h2>
                    </div>
                    <!-- <div class="profile-about-content"> -->
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-3">
                          <img *ngIf="teacherData?.docs.name" src="{{docUrl}}{{teacherData?.docs.name}}" style="width:100%"/>
                          <p *ngIf="!teacherData?.docs.name" class="text-danger">No Degree uploaded</p>
                        </div>
                        <div class="col-md-6">
                          <button *ngIf="!teacherData?.docs.isDegreeApproved && teacherData?.docs.name" (click)="teacherDegreeApprove(teacherData._id,'approved')" class="btn btn-success btn-block">
                            Approve Degree</button>
                            <button *ngIf="!teacherData?.docs.isDegreeApproved && teacherData?.docs.name" (click)="teacherDegreeApprove(teacherData._id,'disapproved')" class="btn btn-danger btn-block">
                              Disapprove Degree</button>
                          </div>
                        </div>
                      </div>

                      <!-- </div> -->


                      <div class="top-heading text-center">
                        <h2>About Me</h2>
                      </div>
                      <div class="profile-about-content">
                        <p>{{teacherData?.about}}
                        </p>
                        <!-- <a href="javascript:void()" class="more" id="toggled1">more</a> -->
                      </div>
                    </div>
                  </div>
                </section>
              </main>
            </div>
          </div>


          <!-- End header Section -->


          <!--footer End-->
